XTerm*renderFont: true
XTermfaceName: Fira Code Regular Nerd Font Complete
XTerm*faceSize: 10
XTerm*Background: grey15
XTerm*Foreground: grey85

UXTerm*renderFont: true
UXTerm*faceName: Fira Code Regular Nerd Font Complete
UXTerm*faceSize: 10*
UXTerm*Background: grey15
UXTerm*Foreground: grey85
