[Unit]
Description=Mac keys settings

[Service]
Environment=DISPLAY=:1
ExecStart=/usr/bin/bash -c 'mac-keys-kill && mac-keys-start'
ExecStop=/usr/bin/bash -c 'pkill -f bin/xkeysnail && exit 0'
Type=simple
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target
